<% provide(:title, 'GIT') %>
<h1>GIT</h1>

<h2>GIT is a version control system which we will be using for many different programming projects.  Thus, it is very important and useful.</h2>

<p>
  In order to clear the git cache:<br>
</p>
<div class="code">
  <p>
    <span class="prompt">$</span> git rm -r --cached .<br>
    <span class="prompt">$</span> git add .<br>
    <span class="prompt">$</span> git commit -am 'git cache cleared'<br>
    <span class="prompt">$</span> git push<br>
  </p>
</div>
