<h2>This will be a reference guide for anyone who wants to learn how to program.
  As I learn and solve problems, I will write it here.</h2>

  <p>
    If you have a comment about something, you can write me a message on twitter.

    <a href="http://www.twitter.com/tkbpule1">@tkbpule1</a>
  </p>
